
body{	font-family : Arial, Helvetica, sans-serif;	color : Black;	/*background-color : #868686;  font-size: 12px;	background-image: url(../images/bg_main.gif); background-repeat: repeat-x;*/	margin: 0;	text-align: center;  padding: 0; width: 960px;}
body{
background: #999; /* for non-css3 browsers */

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#494949'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#494949)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ccc,  #494949); /* for firefox 3.6+ */ 
}

/* STRUCTURE */
#contentbox{width: 945px; }

#HEADER{ margin-left: 150px; width: 945px; height: 250px; background-color: white;}
#logo{display:inline; float:left; margin-left: 0px; }
#widebox{display:block; margin-left: 0px; padding:0; width:700px; height:30px; border-bottom:1px solid #2E6BA9;}
#widebox p{font-size: 20px; padding-bottom: 0px;}
#widebox img{float:right; display:inline;}

#NAVIGATION{
    width: 75%;
    display:inline;
    float:right;
    height:31px;
    text-align: right;
    margin-left: auto;
    margin-right: auto; margin-top:10px;
    background-color: #2E6BA9;
}

#TABS{
    margin-right:0px;
    height:31px;
    background-image: url(../images/bg_topnav.gif);
    background-repeat: repeat-x;
    text-align: center;
    border-right: 1px solid #666666;
    line-height: 31px;
}
	#TABS ul { margin:0; padding-left: 0; display: inline;  list-style: none;    } 
	#TABS li { float:left; margin: 0;  padding: 0px 36px 0px 36px; list-style: none; display: inline;  background-image: url(../images/bg_navbutton.gif);  background-repeat: no-repeat;  background-position: right;    }
	#TABS a{ color: Black;  text-decoration: none;  font-family: Tahoma, Arial, Sans-Serif;  font-size: 11px;    }
	#TABS a:hover{ text-decoration : none;  border-bottom: 2px solid #1D76CB;  }


#CONTENT{ width: 945px; text-align: left; margin-left: 150px; margin-right: auto;    background-color: White;     height: 100%;}
	#LEFTBOX{ float: left;  width: 180px; text-align: left;   margin-left: 0;  background-color: #f4f4f4;    left: 15px;  position: relative;  background-image: url(../images/leftbar_footer.gif);  background-repeat: no-repeat;  background-position: bottom;  padding: 5px 0 20px 0;    }
	#LEFTBOX div{ margin-left: 12px;  margin-right: 12px;  padding-bottom: 10px;  margin-bottom: 20px;  background-image: url(../images/bg_hdot.gif);  background-repeat: repeat-x;  background-position: bottom;        }
	#LEFTBOX div.Last{ background-image: none; }
	#LEFTBOX h1{ font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  font-size: 16px;  color: #4E4E4E;    letter-spacing: 1px;  margin: 0 0 9px 12px;    	     }
	#LEFTBOX p{ font-family: "MS Sans Serif", Geneva, sans-serif; font-size: 11px; line-height: 18px; text-align: left; }
	#LEFTBOX p .Date{ font-weight: bold; color: #C10000; font-size: 9px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }
	#LEFTBOX a{ font-size:11px;  color: #2665A5;  text-decoration: none;  }
	#LEFTBOX a:hover{	text-decoration : underline;  }
	#LEFTBOX input{ font-size:12px;  padding: 0;  margin: 0; }
	#LEFTBOX input.Search{ width:153px; height: 18px; border: 1px solid #666666; }
	#LEFTBOX .Browse{ width:125px; height: 18px; border: 1px solid #666666;  margin-right: 7px;  }
	#LEFTBOX ul{   padding-left: 1px;  display: block; border: none;  margin: 0 0 15px 0;  } 
	#LEFTBOX ul li {margin-left: 0; padding-left: 0;     font-size: 11px;  font-family: Tahoma, Arial, Helvetica, sans-serif;  font-weight: bold;  list-style: none inside url(../images/point_left.gif);  line-height: 18px;        }
	#LEFTBOX ul a{ color: #1A5FA8; text-decoration: none; font-size:11px;    padding-right: 0;  margin-right: 0;  font-family: "MS Sans Serif", Geneva, sans-serif; }	
	#LEFTBOX ul a:hover{text-decoration: underline;}	

	#TEXT {  margin: 0 30px 0 220px;  display: block;  position: relative;  padding-top: 15px;  padding-bottom: 20px;  }
	#TEXT h1{ color: #5F5F5F;  font-size: 18px;  font-weight: normal;  margin: 0 0 5px 0;  padding: 5px 0 0 0;     }
	#TEXT p{ text-align: justify;  line-height: 18px;  margin-bottom: 18px; }
	#TEXT ul.Path { margin-left: 0;  padding-left: 0;  display: block; border: none;  margin: 0 0 15px 0;   } 
	#TEXT ul.Path li {margin-left: 0; padding-left: 0px; border: none; list-style: none; display: inline; color: #B90000; font-size: 11px;  font-family: Tahoma, Arial, Helvetica, sans-serif;  font-weight: bold;  line-height: 18px;          }
	#TEXT ul.Path a{ color: Black; text-decoration: none; font-size:11px;    padding-right: 8px;  margin-right: 5px;  background-image: url(../images/arrow_path.gif);  background-position: right;  background-repeat: no-repeat;          }	
	#TEXT ul.Path a:hover{text-decoration: underline;}
	
	img {
		vertical-align: middle;
		padding:5px;
		border:0px;
	 	}

#FOOTER{ width: 100%; text-align: left; margin-left: auto; margin-right: auto; background-position: right; padding-top: 0px; 
background-color: #31bc5f;}
#FOOTER ul{display:block; padding: 10px 20px 30px 20px;}
#FOOTER li{display:block;}
#mainlinks {float:right;}
#copyleft {text-align:right;}


